.env
node_modules/
frontend/dist/
frontend/.angular/
frontend/android/app/build/
frontend/android/.gradle/
node-red/data/flows_cred.json
node-red/data/.config.*.json
node-red/data/.flows.json.backup
node-red/data/node_modules/
node-red/data/uploads/
.DS_Store
